input[type="number"]{
	width: 40px;
}

#princ {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.barra {
	background-color: red;
	margin-right: 10px;
}

#b1 {
	height: 0px;
	width: 0px;
}


#b2 {
	height: 0px;
	width: 0px;
	
}

#b3 {
	height: 0px;
	width: 0px;

}

#b4 {
	height: 0px;
	width: 0px;

}

#b5 {
	height: 0px;
	width: 0px;
	
}