<h1>Sobre</h1>

<p><img src="../img/spaceArt.svg" alt="Itens do jogo" width="500px" height="auto"></p>

<p>SpaceShooters é um jogo de tiro espacial em que o jogador controla uma nave
e deve sobreviver o máximo de tempo possível enquanto enfrenta 
vários inimigos.</p>

<p>O jogador deve usar habilidades de esquiva e tiro para evitar colisões com 
meteoros, enquanto dispara projéteis em direção aos inimigos.
Conforme o jogador avança no jogo, o ritmo aumenta, tornando o jogo cada 
vez mais difícil.</p>

<p>O objetivo final é obter a maior pontuação possível antes que
a nave do jogador seja destruída.</p>