<div id="space">
      <div id="start-menu"><p>VAMOS JOGAR! <br> APERTE NA BARRA DE ESPAÇO</p></div>
      <div id="pause-menu"><p>PAUSE <br> <strong>P</strong> PARA CONTINUAR</p></div>
      <img id="ship" src="img/player.png" alt="" />
      <script src="js/game.js"></script>
</div>